/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:40px;
}

/* TITOLO */
.title{
    font-size:40px;
    text-align:center;
    margin-bottom:40px;
    color:#facc15;
    text-shadow:0 0 10px rgba(250,204,21,0.4);
}

/* FORM SCRITTURA */
.form-container{
    max-width:600px;
    margin:0 auto 50px auto;
    background:#1e293b;
    padding:30px;
    border-radius:14px;
    box-shadow:0 0 25px rgba(0,0,0,0.4);
}

.form-container h2{
    color:#facc15;
    margin-bottom:20px;
    text-align:center;
}

.form-container select,
.form-container textarea{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:none;
    border-radius:8px;
    background:#0f172a;
    color:white;
}

.form-container button{
    width:100%;
    padding:12px;
    background:#facc15;
    border:none;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
    color:#020617;
    transition:0.3s;
}

.form-container button:hover{
    background:#ffe066;
}

/* LISTA RECENSIONI */
.rec-list{
    max-width:900px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.rec-card{
    background:#1e293b;
    padding:25px;
    border-radius:14px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    border-left:5px solid #facc15;
    transition:0.3s;
}

.rec-card:hover{
    transform:translateX(5px);
    box-shadow:0 0 25px #facc15;
}

.rec-card h3{
    color:#facc15;
    margin-bottom:10px;
}

.author{
    opacity:0.7;
    margin-bottom:10px;
}

.delete-btn{
    margin-top:15px;
    padding:8px 12px;
    background:#ff4d4d;
    border:none;
    border-radius:6px;
    cursor:pointer;
    color:white;
    transition:0.3s;
}

.delete-btn:hover{
    background:#ff1a1a;
}

/* LOGIN WARNING */
.login-warning{
    text-align:center;
    margin-bottom:40px;
}

.login-warning a{
    color:#facc15;
    text-decoration:none;
}
